<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>

<%- include('./partials/nav') %>

<% menuItems.forEach((item) => {  %> 

  <h1><%= item.category %></h1>

   

  <p>name: <%= item.name %></p>
  <p>price: <%= item.price %></p>
  <p>rating: <%= item.rating %></p>
  <p>category: <%= item.category %></p>
  <p>details: <%= item.details %></p>

  <% }) %>

</body>
</html>